<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
     <link rel="stylesheet" href="smallpages.css">
    <title>Document</title>
</head>
<body class="w2gbody">
    <h1 class="w2gh1">watch together</h1>
    <div class="code"></div>
    <ol>steps</ol>
    <li>log in on other device</li>
    <li>click on watch together</li>
    <li>enter the displayed code</li>
    <li> enjoy <i class="fa-solid fa-face-smile-wink"></i></li>
    <script src="smallpages.js"></script>
</body>
</html>